.carouselContainer img {
  width: 100%;
  height: auto;
  display: block;
}

.carouselContainer h2 {
  font-size: 24px;
  font-family: initial;
  font-weight: 700;
  color: var(--dark);
  padding-bottom: 16px;
}
