.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--light);
  width: 940px;
  margin-top: -122px;
  padding: 24px 48px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 24px;
}

.body a {
  text-decoration: none;
  color: var(--light);
}

.title h2 {
  font-size: 30px;
  font-family: initial;
  font-weight: bolder;
}
