.aboutContainer {
  width: 80%;
  margin: auto;
}

.aboutContainer > div {
  grid-column-start: 2;
  grid-column-end: 3;
}

.content {
  padding-top: 36px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 100%;
  height: 600px;
}

.content > * {
  outline: 1px solid var(--dark);
}

.textContainer {
  padding: 25px;
  background-color: var(--primary);
  color: var(--light);
  display: grid;
}

.text {
  width: 430px;
  margin: auto;
}

.text > h3 {
  font-size: 36px;
  font-family: initial;
  font-weight: 600;
  padding-bottom: 30px;
}

.text > p {
  line-height: 1.5em;
  font-size: 15px;
}

.text > span {
  display: block;
}

.image > img {
  width: 100%;
  object-fit: cover;
  object-position: 30% 50%;
}
