.container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}

.body {
  box-sizing: border-box;
  width: 940px;
  display: grid;
  margin: 0 48px;
  grid-template-rows: auto 1fr;
  grid-gap: 24px;
}



.title h2 {
  font-size: 30px;
  font-family: initial;
  font-weight: bolder;
  color: var(--dark);
}

.content {
  display: grid;
  gap: 32px;
  grid-template-rows: auto;
}

.content a {
  text-decoration: none;
  color: var(--dark);
}

.emptyContent {
  border: 1px solid lightgrey;
}

@media (min-width: 320px) and (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 900px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 400px) {
  .body {
    width: 100%;
    margin: 0 12px;
  }

  .title {
    text-align: center;
  }
}
