.projectContainer {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  grid-gap: 1rem;
  justify-content: center;
}

.emptyContent {
  border: 1px solid lightgrey;
  width: 940px;
  align-self: center;
}
