.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 404px;
  grid-gap: 40px;
  justify-content: center;
}

.emptyContent {
  border: 1px solid lightgrey;
  width: 940px;
  align-self: center;
}

@media screen and (max-width: 1300px) {
  .content {
    max-width: 600px;
    grid-template-columns: 1fr;
  }
}
