.blogContainer {
  padding-top: 70px;
  display: grid;
  grid-template-columns: auto 940px auto;
}

.blogContainer > div {
  grid-column-start: 2;
  grid-column-end: 3;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
