.cardContainer {
  display: grid;
  width: 585px;
}

.imageContainer {
  position: relative;
  left: 0px;
  grid-area: 1 / 1 / 2 / 2;
  width: 509px;
  height: 404px;
}

.imageContainer > img {
  object-fit: cover;
  width: 100%;
}

.textContainer {
  position: relative;
  margin: 60px 0px 60px 0;
  left: 244px;
  grid-area: 1 / 1 / 2 / 2;
  width: 269px;
  height: 212px;
  background-color: white;
  padding: 36px;
  display: grid;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.textContainer > h2 {
  font-size: 26px;
  font-family: initial;
  font-weight: 600;
  color: var(--dark);
}

.textContainer > p {
  font-size: 14px;
  line-height: 20px;
  height: 120px;
  overflow: hidden;
}

.textContainer > a {
  justify-self: start;
  align-self: end;
  text-align: center;
  outline: 1px solid var(--primary);
  height: 39px;
  width: 116px;
  color: var(--primary);
  line-height: 39px;
  text-decoration: none;
}
