.container {
  padding: 20px;
  background-color: var(--dark);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.body {
  max-width: 600px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.body > div {
  padding: 10px;
}

.title {
  display: grid;
  height: 80%;
}

.links li {
  text-align: right;
}

.links li:not(:last-child) {
  margin-bottom: 10px;
}

.links ul li a {
  text-decoration: none;
  color: var(--secondary);
}