.content {
  margin: 42px;
  padding: 0 64px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 36px;
}

.content a {
  text-decoration: none;
  color: var(--dark);
  transition: color 0.2s ease-in;
}

.content a:hover {
  color: var(--middle);
}

.content > h1 {
  font-size: 50px;
  font-family: initial;
  font-weight: 800;
  color: var(--dark);
}

.content > h3 {
  font-size: 32px;
  font-family: initial;
  color: var(--dark);
}

.content > p {
  line-height: 24px;
  text-align: justify;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 16px;
  }

  .content > h1 {
    font-size: 32px;
  }

  .content > h3 {
    font-size: 24px;
  }

  .content > p {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .content {
    margin: 36px 18px 18px 18px;
    padding: 0;
  }
}


@media screen and (max-width: 400px) {
  .content {
    margin: 18px 0;
  }
}