.navTitle {
  margin: 10px;
  display: flex;
  align-items: center;
  color: rgb(244, 222, 201);
}

.navTitle div {
  padding: 10px;
}

.navTitleHeader span {
  font-size: 28px;
  font-family: initial;
  font-weight: bolder;
}

.navTitleHeader a {
  text-decoration: none;
  color: inherit;
}

.navTitleSvg {
  width: 50px;
  height: 50px;
}
