.dashboardContainer {
  width: 600px;
}

.dashboardList {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid grey;
}

.dashboardList button {
  font-size: 32px;
  border: none;
  padding: 8px;
  width: 256px;
}
