.navContainer {
  background-color: var(--dark);
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
  box-sizing: border-box;
}

.navBar {
  margin-left: 10px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHamburgerContainer {
  position: relative;
  background-color: var(--secondary);
}

.navHamburgerContainer ul {
  display: flex;
  flex-direction: column;
}

.navHamburgerContainer ul li {
  width: 100%;
  text-align: center;
}

.navHamburgerContainer ul li a {
  text-decoration: none;
  color: var(--dark);
  width: 100%;
  display: block;
  padding: 10px 0;
}

.navHamburgerContainer ul li:not(:last-of-type) {
  border-bottom: 1px solid var(--primary);
} 

.navHamburgerContainer ul li a:hover {
  background-color: var(--primary);
  color: var(--light);
}

@media screen and (min-width: 0px) {
  .navBar {
    padding: 0;
  }
}

@media screen and (min-width: 435px) {
  .navBar {
    padding: 0 20px;
  }
}

@media screen and (min-width: 600px) {
  .navBar {
    padding: 0 55px;
  }
}

.searchBar {
  display: flex;
}

.searchBar input {
  display: block;
  color: var(--light);
  font-size: 15px;
  padding: 10px 10px 10px 21px;
  border-radius: 0px;
  background-color: var(--dark);
  border: 1.5px solid var(--light);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchBar input:focus {
  outline: none;
  border: 2px solid var(--light);
}

.searchBar button {
  margin-left: -35px;
  background-color: transparent;
  border: none;
}

.searchBar button svg {
  width: 20px;
  color: var(--light);
  vertical-align: middle;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .navList {
    display: none;
  }

  .navHamburger {
    display: block;
    margin: 10px;
  }
  
  .navHamburger button {
    background-color: transparent;
    border: none;
  }

  .navHamburger svg {
    width: 30px;
    height: 30px;
    color: var(--light);
    vertical-align: middle;
    line-height: normal;
  }
}

@media screen and (min-width: 768px) {
  .navList {
    display: flex;
    flex-direction: row;
    color: var(--light);
    margin: 0 10px;
  }
  .navHamburger, .navHamburgerContainer {
    display: none;
  }
}


.navList li {
  margin: 10px;
}

.navList a {
  text-decoration: none;
  color: var(--light);
}

.navList a:hover {
  color: var(--secondary);
}
