.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(54, 64, 55);
  height: 70px;
  padding: 0 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchBar {
  display: flex;
}

.searchBar input {
  display: block;
  color: white;
  font-size: 15px;
  padding: 10px 10px 10px 21px;
  border-radius: 0px;
  background-color: rgb(54, 64, 55);
  border: 1.5px solid white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchBar input:focus {
  outline: none;
  border: 2px solid white;
}

.searchBar button {
  margin-left: -35px;
  background-color: transparent;
  border: none;
}

.searchBar button svg {
  width: 20px;
  color: white;
  vertical-align: middle;
  line-height: normal;
}

.navList {
  display: flex;
  flex-direction: row;
  color: rgb(242, 243, 242);
}

.navList li {
  margin: 10px;
}

.navList a {
  text-decoration: none;
  color: rgb(242, 243, 242);
}

.navList a:hover {
  color: rgb(244, 222, 201);
}
